<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="fragments/navbar">
    </th:block>
    <div class="container mt-4">
        <h2>Customers</h2>
        <table class="table table-responsive-sm" th:object="${dateFormatter}">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Magnitude</th>
                <th>Released On</th>
                <th sec:authorize="isAuthenticated() && (hasAuthority('MODERATOR') || hasAuthority('ADMIN'))"></th>
                <th sec:authorize="isAuthenticated() && (hasAuthority('MODERATOR') || hasAuthority('ADMIN'))"></th>
            </tr>
            <tr th:each="virus : ${viewDtos}" >
                <td th:text="${viewDtos.indexOf(virus)+1}"></td>
                <td th:text="${virus.getName()}"></td>
                <td th:text="${virus.getVirusMagnitude()}"></td>
                <td th:text="${virus.getReleasedOn().format(dateFormatter)}"></td>
                <td sec:authorize="isAuthenticated() && (hasAuthority('MODERATOR') || hasAuthority('ADMIN'))" >
                    <a class="btn btn-outline-secondary" th:href="@{/viruses/edit/{id}(id=${virus.getId()})}">Edit</a></td>
                <td sec:authorize="isAuthenticated() && (hasAuthority('MODERATOR') || hasAuthority('ADMIN'))">
                    <a class="btn btn-outline-secondary" th:href="@{/viruses/delete/{id}(id=${virus.getId()})}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>