<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head"></th:block>
<body class="bg-light">
<div class="container-fluid">
    <th:block th:insert="fragments/navbar"></th:block>
</div>
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header bg-dark text-white"><strong>Parts Delivery - Select Supplier</strong></div>
        <div class="card-body">
            <form th:action="@{/parts/deliver/select_parts}" th:method="post" th:object="${deliveryDataDto}">
                <div class="form-group">
                    <label class="mt-3" for="partnerId">Please select a Supplier:</label>
                    <select class="form-control" th:field="*{partnerId}" th:value="*{partnerId}" id="partnerId">
                        <th:block th:each="supplier : ${suppliersWithParts}">
                            <option th:value="${supplier.id}"
                                    th:text="${#strings.concat(supplier.vatNumber,' - ',supplier.name)}"
                                    th:classappend="${supplier.numberOfSuppliedParts}"></option>
                        </th:block>
                    </select>
                    <th:block th:each="error : ${#fields.errors('partnerId')}">
                        <small class="text-danger" id="partnerIddHelp" th:text="${error}"></small>
                        <br/>
                    </th:block>
                </div>
                <div class="">
                    <label for="numberOfRows">Please select number of rows:</label>
                    <input type="number" class="form-control" id="numberOfRows" name="numberOfRows" min="1" step="1"
                           th:field="*{numberOfRows}"
                           th:classappend="${#fields.hasErrors('numberOfRows')}?'border border-danger'"
                           data-toggle="tooltip"
                           data-placement="right"
                           title="The maximum number of rows depends on the number of parts supplied by the selected supplier."
                    placeholder=""/>
                    <th:block th:each="error : ${#fields.errors('numberOfRows')}">
                        <small class="text-danger" id="numberOfRowsHelp" th:text="${error}"></small>
                        <br/>
                    </th:block>

                </div>
                <div class="mt-3">
                    <button class="btn btn-primary btn-block" type="submit" th:name="action" value="next">Next</button>
                    <button class="btn btn-outline-secondary btn-block" type="submit" th:name="action" value="cancel">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="fragments/footer"></th:block>
<script>
    $(document).ready(function () {
        let max = $(this).find('option:selected').attr('class');
        $('#numberOfRows').attr('max', max).attr('placeholder', 'Maximum rows - ' + max);

        $(document).on('change', 'select', function () {
            max = $(this).find('option:selected').attr('class');
            $('#numberOfRows').attr('max', max).attr('placeholder', 'Maximum rows - ' + max);
        });
    });
</script>
</body>
</html>