<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head"></th:block>
<script th:src="@{/js/getAllCustomers.js}"></script>
<body class="bg-light">
<div class="container-fluid">
    <th:block th:insert="fragments/navbar"></th:block>
</div>
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header bg-dark text-white"><strong>Parts Issue - Select Customer</strong></div>
        <div class="card-body">
            <form th:action="@{/parts/issue/select_parts}" th:method="post" th:object="${issueDataDto}">
                <div class="form-group">
                    <label class="mt-3" for="partnerId">Please select a Customer:</label>
                    <div class="">
                        <input class="form-control mb-2" type="text" id="customer-filter" name="customer-filter"
                               placeholder="Search for a customer by VAT number or Name"/>

                    </div>
                    <select class="form-control" th:field="*{partnerId}" th:value="*{partnerId}" id="partnerId">
                        <th:block th:each="customer : ${allCustomers}">
                            <option th:value="${customer.id}"
                                    th:text="${#strings.concat(customer.vatNumber,' - ',customer.name)}"></option>
                        </th:block>
                    </select>
                    <th:block th:each="error : ${#fields.errors('partnerId')}">
                        <small class="text-danger" id="partnerIdHelp" th:text="${error}"></small>
                        <br/>
                    </th:block>
                </div>
                <div class="">
                    <label for="numberOfRows">Please select number of rows</label>
                    <input type="number" class="form-control" id="numberOfRows" name="numberOfRows" min="1" step="1"
                           th:field="*{numberOfRows}"
                           th:classappend="${#fields.hasErrors('numberOfRows')}?'border border-danger'"
                           />
                    <th:block th:each="error : ${#fields.errors('numberOfRows')}">
                        <small class="text-danger" id="numberOfRowsHelp" th:text="${error}"></small>
                        <br/>
                    </th:block>
                </div>
                <div class="mt-3">
                    <button class="btn btn-primary btn-block" type="submit" th:name="action" value="next">Next</button>
                    <button class="btn btn-outline-secondary btn-block" type="submit" th:name="action" value="cancel">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="fragments/footer"></th:block>
<script>
    $(document).ready(function () {

        $(function () {
            $('#partnerId').filterByText($('#customer-filter'));
        });

        jQuery.fn.filterByText = function (textbox) {
            return this.each(function () {
                let select = this;
                let options = [];
                $(select).find('option').each(function () {
                    options.push({
                        value: $(this).val(),
                        text: $(this).text()
                    });
                });

                $(select).data('options', options);

                $(textbox).bind('change keyup', function () {
                    let options = $(select).empty().data('options');
                    let search = $.trim($(this).val());
                    let regex = new RegExp(search, "gi");

                    $.each(options, function (i) {
                        let option = options[i];
                        if (option.text.match(regex) !== null) {
                            $(select).append(
                                $('<option>').text(option.text).val(option.value)
                            );
                        }
                    });
                });
            });
        };
    });
</script>
</body>
</html>