<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head"></th:block>
<body class="bg-light">
<div class="container-fluid">
    <th:block th:insert="fragments/navbar"></th:block>
    <div class="container mt-4">
        <div class="card mb-3">
            <div class="card-header bg-dark text-white"><strong>All users</strong></div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered" width="100%"
                                       cellspacing="0"
                                       style="width: 100%">
                                    <thead>
                                    <tr role="row">
                                        <th>Username</th>
                                        <th>Full name</th>
                                        <th>Roles</th>
                                        <th class="text-center" colspan="2">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user :${allUsers}">
                                        <td th:text="${user.getUsername()}"></td>
                                        <td th:text="${user.getFirstName() + ' ' + user.getLastName()}"></td>
                                        <td>
                                            <th:block th:each="role : ${user.getAuthorities()}">
                                                <th:block
                                                        th:text="${#strings.capitalize(role.toLowerCase().replaceAll('_',' '))}"></th:block>
                                            </th:block>
                                        </td>
                                        <td class="text-center">
                                            <div>
                                                <th:block
                                                        th:if="${(!user.getAuthorities().contains('SUPER_ADMIN'))}">
                                                    <a class="btn btn-sm btn-outline-secondary"
                                                       th:href="@{/admin/users/edit/{id}(id=${user.getId()})}">
                                                        <small>Edit</small>
                                                    </a>
                                                </th:block>
                                                <th:block sec:authorize="hasAuthority('SUPER_ADMIN')" th:if="${user.getAuthorities().contains('SUPER_ADMIN')}">
                                                    <a class="btn btn-sm btn-outline-secondary"
                                                       th:href="@{/admin/users/edit/{id}(id=${user.getId()})}">
                                                        <small>Edit</small>
                                                    </a>
                                                </th:block>
                                                <th:block
                                                        th:if="${!user.getAuthorities().contains('SUPER_ADMIN')}">
                                                    <a class="btn btn-sm btn-outline-secondary"
                                                       th:href="@{/admin/users/change_password/{id}(id=${user.getId()})}">
                                                        <small>Change Password</small>
                                                    </a>
                                                </th:block>
                                                <th:block sec:authorize="hasAuthority('SUPER_ADMIN')" th:if="${user.getAuthorities().contains('SUPER_ADMIN')}">
                                                    <a class="btn btn-sm btn-outline-secondary"
                                                       th:href="@{/admin/users/change_password/{id}(id=${user.getId()})}">
                                                        <small>Change Password</small>
                                                    </a>
                                                </th:block>
                                                <th:block sec:authorize="hasAuthority('SUPER_ADMIN')">
                                                    <a onclick="confirm('Are you certain want to delete this virus?')" class="btn btn-sm btn-danger"
                                                       th:classappend="${#authorization.getAuthentication().getName().equals(user.getUsername())}?'btn disabled'"
                                                       th:href="@{/admin/users/delete/{id}(id=${user.getId()})}">
                                                        <small>Delete</small>
                                                    </a>
                                                </th:block>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>