<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head"></th:block>
<body class="bg-light">
<div class="container-fluid">
    <th:block th:insert="fragments/navbar"></th:block>
    <div class="mx-auto w-50 p-3">
        <div class="alert alert-danger alert-dismissible fade show"
             th:if="${!#strings.isEmpty(error)}">
            <p class="text-danger h6" th:text="${error}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-success alert-dismissible fade show"
             th:if="${!#strings.isEmpty(logout)}">
            <p class="text-success h6" th:text="${logout}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header bg-dark text-white"><strong>Login</strong></div>
        <div class="card-body">
            <form th:action="@{/login}" th:method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-block" id="login-button" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="fragments/footer"></th:block>
</body>
</html>