.navbar-wms {
	background-color: #3971A5;
}

.custom-nav-link-white {
    color: #D3D3D3;
}

.custom-nav-link-white:hover{
    color: #FFFFFF;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}


.card-login{
    max-width: 25rem;
}

.card-register{
    max-width: 40rem;
}

.custom-toggler.navbar-toggler {
    border-color: #D3D3D3;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(211,211,211, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.error{
    background-color: #f7d7d7;
}


