<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-md bg-faded bg-dark">
        <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand custom-nav-link-white" href="/">WMS</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item disabled">
                    <a class="nav-link custom-nav-link-white" href="/">Home</a>
                </li>
                <li sec:authorize="isAuthenticated() && hasAnyAuthority('SUPER_ADMIN', 'ADMIN')"
                    class="nav-item disabled">
                    <div class="dropdown show">
                        <a class="nav-link custom-nav-link-white dropdown-toggle" id="dropdownAdminMenuLink"
                           data-toggle="dropdown" href="/">Administration</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownAdminMenuLink">
                            <a class="dropdown-item" href="/admin/users/create">Add User</a>
                            <a class="dropdown-item" href="/admin/users/all">View Users</a>
                        </div>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()"
                    class="nav-item disabled">
                    <div class="dropdown show">
                        <a class="nav-link custom-nav-link-white dropdown-toggle" id="dropdownPartsMenuLink"
                           data-toggle="dropdown" href="/">Parts</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownPartsMenuLink">
                            <a class="dropdown-item" href="/parts">All Parts</a>
                            <a sec:authorize=" hasAnyAuthority('SUPER_ADMIN','ADMIN', 'EMPLOYEE')" class="dropdown-item" href="/parts/add">Add Part</a>
                            <a sec:authorize=" hasAnyAuthority('SUPER_ADMIN','ADMIN', 'EMPLOYEE')" class="dropdown-item" href="/parts/deliver">Deliver Parts</a>
                            <a sec:authorize=" hasAnyAuthority('SUPER_ADMIN','ADMIN', 'EMPLOYEE')" class="dropdown-item" href="/parts/issue">Issue Parts</a>
                        </div>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated() && hasAnyAuthority('SUPER_ADMIN','ADMIN', 'EMPLOYEE')"
                    class="nav-item disabled">
                    <a class="nav-link custom-nav-link-white" href="/partners">Partners</a>
                </li>
                <li sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN', 'EMPLOYEE')"
                    class="nav-item disabled">
                    <div class="dropdown show">
                        <a class="nav-link custom-nav-link-white dropdown-toggle" id="dropdownDocumentsMenuLink"
                           data-toggle="dropdown" href="/">Documents</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownPartsMenuLink">
                            <a class="dropdown-item" href="/documents/delivery_notes">Delivery Notes</a>
                            <a class="dropdown-item" href="/documents/issue_notes">Issue Notes</a>
                        </div>
                    </div>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item disabled">
                    <a class="nav-link custom-nav-link-white" href="/login">Login</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item disabled">
                    <form th:action="@{/logout}" th:method="post">
                        <button type="submit" class="btn btn-dark"><i class="fas fa-sign-out-alt"></i>Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>